# We mark the example.html files as vendored otherwise GitHub marks the repo as an HTML repo :(
# https://stackoverflow.com/questions/19052834/is-it-possible-to-exclude-files-from-git-language-statistics
scrape-aniwave/example.html linguist-vendored